.startContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-between;

  #h1 {
    margin: 42px 0 42px 0;
    color: #48c774;
  }

  h2 {
    margin: 16px 0 0 0;
  }

  h3 {
    margin-top: 42px;
  }

  h4 {
    text-align: center;
    margin-bottom: 16px;
  }
}
