@import './../../variables';
.homeContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 550px;
  max-height: 1280px;
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-between;

  .textContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    h4 {
      text-align: center;
      margin-top: 8px;
      font-family: $basicText;
      font-size: 22px;
    }
  }

  .iconContainer {
    p {
      font-family: $basicText;
    }
    .forwardBackwardImage {
      width: 20px;
      height: 20px;
    }
  }
  h3 {
    color: black;
    margin-top: 16px;
    font-family: $basicText;
  }

  #button {
    margin-bottom: 16px;
    font-family: $basicText;
  }
}
